* {
    margin: 0;
    font-family: 'Work Sans';
    padding: 0;
}

/* ---------------------
header styles 
-------------------------*/
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.nav-title {
    font-weight: 700;
    font-size: 18px;
}

.item {
    font-weight: 500;
    padding-left: 30px;
}

.menu-container>ul {
    list-style: none;
    display: flex;
}

header {
    background-color: antiquewhite;
    margin-bottom: 10px;
}

.banner-discription {
    padding-top: 50px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    padding-bottom: 20px;
}

.primary-btn {
    font-weight: 600;
    padding: 10px;
    margin-top: 32px;
    margin-bottom: 20px;
    color: #FFFFFF;
    background-color: orangered;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.banner-img {
    width: 100%;
    width: 1440px;
    height: 700px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

/* --------------------
feature styles
------------------------ */
.feature-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-bottom: 24px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    width: 342px;
    height: 342px;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
}

.feature-clr {
    color: orangered;
}

.feature-discription {
    margin-right: 250px;
    margin-left: 250px;
    align-items: center;
    margin-top: 250px;
}

.feature-discription-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/*------------------------
 love and enjoy styles 
 -------------------------*/
.enjoy-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    width: 100%;
    margin-top: 300px;
    align-items: center;
}

.love-img {
    left: 54px;
    width: 708px;
    height: 982px;
    width: 100%;
}

.enjoy-sub-info-main {
    padding: 20px;
    margin-left: 240px;
}

.enjoy-sub-info-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding-left: 20px;
    padding-bottom: 24px;
    border-left: 5px solid orangered;
}

.enjoy-sub-info-dis {
    line-height: 30px;
    color: #727272;
}

.enjoy-sub-info {
    padding: 30px;
}

.enjoy-1 {
    padding: 30px;
}

.enjoy-sub-info-title-1 {
    padding-bottom: 10px;
}

.stat-info {
    padding-top: 100px;
}

.stat-info-main {
    padding: 20px;
    margin-left: 240px;
}

.stat-sub-info-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding-bottom: 24px;

}

.stat-discription {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding-top: 100px;
    width: 100%;
    gap: 20px;
    align-items: center;
    grid-column-gap: 20px;

}

.stat-discription-icon {
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    gap: 10px;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    
}

.stat-discription-icon:hover {
    transform: rotateX('45deg');
    background-color: #FF900E;
    transform: scale(1.5) rotate(-45deg);
}

.sponsor-info {
    padding-top: 180px;
}

.sponsor-info-main {
    text-align: center;
    padding-bottom: 50px;
}

.sponsor-info-title {
    padding-bottom: 24px;
}

.sponsor-discription {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: antiquewhite;
    color: #424242;
    width: 100%;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 1220px;
    height: 50px;
    text-align: center;
    padding: 20px;
    margin: 130px 0 210px 0;
    margin-left: auto;
    margin-right: auto;
}


/* media query styles */

    @media only screen and (max-width: 600px) {
        .nav-container {
          width: 100%;
          flex-direction: column;
         
        }
        
        .menu-container>ul {
           flex-direction: column;
        }
        .banner-img {
            width: 100%;
            height: 200px;
            padding-top: 50px;
            /* margin-left: auto;
            margin-right: auto; */
        }
        .feature-img {
            display: grid;
            /* grid-template-columns:repeat(1, 1fr); */
            flex-direction: column-reverse;
            /* width: 100%; */
           
        
      }
      .feature-discription {
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        margin-top: 250px;
    }
    .sponsor-discription {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    footer {
       

        width: 100%;
        height: 50px;
        
        
    }
    
    
}